.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-left {
  width: 50%;
  padding: 3rem;
}

.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-divider {
  height: 5px;
  width: 60px;
  background-color: #0085FF;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-info li i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #0085FF;
}

.contact-info li p {
  margin: 0;
  font-size: 1.2rem;
}

.contact-right {
  width: 50%;
  padding: 3rem;
  background-color: #F9F9F9;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 1.2rem;
}

textarea {
  height: 150px;
}

.submit-button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #0085FF;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #0066CC;
}
