.works{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 4rem;
}

.w-right{
    position: relative;
}
.w-mainCircle{
  position: relative;
  width: 15rem;
  height: 15rem;
  
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  left: 9rem;
  background-color:white;

}
.w-mainCircle>*{
    position:absolute;

}
.w-mainCircle>:nth-child(1){
    top: 4rem;
    left: 14rem;
}
.w-mainCircle>:nth-child(2){
    top: -5rem;
    left: 5rem;
}
.w-mainCircle>:nth-child(3){
    top: 11rem;
    left: 6rem;
}
.w-mainCircle>:nth-child(4){
    top: 4rem;
    left: 6rem;
}

.w-mainCircle>:nth-child(5){
    top: 5rem;
    left: -2rem;
}
.w-secCircle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border: 5px solid rgb(235, 231, 225);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--smboxShadow);
    background: white;
}
.w-secCircle> img{
    transform: scale(0.6);
}
.w-backCircle{
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -3;
}
.blueCircle{
    background: blue;
    left: 5rem;
    top: 0rem;

}