.t-wrapper{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    margin-top: 7rem;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://images.unsplash.com/photo-1524840496374-5a810fda9664');
    opacity: 0.3;
}

.t-heading{
    align-self: start;
}

.t-heading>*{
    font-size: 2rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2){
    color: var(--orange);
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-evenly;
   padding: 2rem;
   width: 30rem;
   height: 12rem;
   background: rgba(255, 255,255, 0.26);
   border: 7px solid var(--boxShadow);
   border-radius: 20px;
   box-shadow: var(--boxShadow);
}

.testimonial>img{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}

.testimonial>span{
    color: var(--gray);
}

.t-wrapper .swiper {
    width: 100%;
    height: 70%;
}
